<div id="title-box" class="container">
  <nav>
    <a href="#" class="brand-logo">Octochat</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if current_user %>
        <li>
          <div id="dropdown-div" class="col s3 float-right">
            <ul id="dropdown2" class="dropdown-content">
              <% @orgs.each do |org| %>
                <li><a href="/<%= org.name %>"><%= org.name %></a></li>
              <% end %>
              <li>
                <%= link_to "Logout", logout_path %>
              </li>
            </ul>
            <a id="dropdown" class="btn dropdown-button" href="#!" data-activates="dropdown2">Organizations<i class="mdi-navigation-arrow-drop-down right"></i></a>
          </div>
        </li>
      <% else %>
        <li>
          <%= link_to 'Login', '/auth/github' %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>

<div id="big-box" class="container z-depth-2">

  <div class="row">

    <div class="col s4 red darken-1">
      <div class="red darken-4">This div is 6-columns wide</div>
    </div>

    <div class="col s8 purple darken-1">
      <div class="row">

        <div id="chat" class="col s6 blue lighten-4">
          <div id="message-title">Messages</div>
          <div class="messages">
            <ul>
              <% @messages.each do |m| %>
                <li><p><%= m.body %></p></li>
              <% end %>
            </ul>
          </div>
        </div>

        <div id="users" class="col s6 blue lighten-1">This div is 6-columns wide</div>

        <div id="chat" class="col s12 blue darken-4">

          <div class="container">
            <div class="row">

              <div class="input-field col s6">
                <i class="mdi-editor-mode-edit prefix"></i>
                <textarea id="user-message" class="materialize-textarea"></textarea>
                <label for="icon_prefix2">Message</label>
              </div>

              <div class="fixed-action-btn" id="send">
                <a class="btn-floating btn-large waves-effect waves-light right-align red" id="send-message">
                  <i class="mdi-content-send "></i>
                </a>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<script>
  var socket = io('<%= @socket %>');
</script>
